.ImagepacksManagement-subheader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
  position: sticky;
  top: 0;
  background-color: #111111;
  padding-bottom: 0.5em;
}

.ImagepacksManagement-cards {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > div {
    display: grid;
    grid-template-rows: auto 1fr;

    & > header {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.5em;
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr auto;
      & > aside {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
      }
    }
  }

  .ImagepacksManagement-exampleimgs {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4px;
    margin-top: 4px;

    & img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      background-color: #333;
      cursor: pointer;
    }
  }
}

.img-fullscreen {
  position: fixed !important;
  z-index: 99999;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
}
