/* Equipment Grid */

.equipmentgrid .empty-slot img {
  opacity: 0.3;
}

.equipmentgrid {
  display: grid;
  grid-template-columns: 1fr [end];
  grid-auto-flow: row dense;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .equipmentgrid {
    grid-template-columns: 1fr 1fr [end];
  }
}

@media (min-width: 1200px) {
  .equipmentgrid {
    grid-template-columns: 1fr 1fr 1fr [end];
  }
}

.equipmentgrid .graytext { /* "none" */
  font-size: 80%;
  user-select: none;
}

.equipmentgrid img {
  margin-right: 4px;
}

.equipmentgrid .equipmentgrid-fullrow {
  grid-column: 1 / span end;
}

.equipmentgrid .equipmentgrid-attachable {
  display: inline-block;
  padding: 0 8px;
  border-radius: 8px;
  border: 1px solid gray;
}

.equipmentset-icongrid {
  width: 22px;
  height: 22px;
  border: 2px double #555;
  background-color: #333;
  background: radial-gradient(farthest-corner, #444, #333, #444);
  border-radius: 6px;

  &.empty:after {
    display: block;
    content: '-';
    color: #666;
    line-height: 1em;
    font-size: 1em;
    align-self: center;
    grid-column: 1 / -1;
  }
}
