/*
Originally from:
http://twinery.org/forum/discussion/comment/17617/
*/

/* Styling and Colors of the Right UI Bar. */
#right-ui-bar {
  --bg-color: #222;
  background-color: #222;
  /* border-left: 1px solid #444; */ /* borders look like shit. */
}

#right-ui-bar-toggle {
  font-size: 1.2em;
  line-height: inherit;
  color: #eee;
  background-color: transparent;
  border: 1px solid #444;
}

#right-ui-bar-toggle:before {
  font-family: sc-icons !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: never;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout and Positioning of the Right UI Bar. */
#right-ui-bar {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 0;
  width: 17.5em;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: right 0.2s ease-in;
  -o-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

#right-ui-bar-tray {
  position: absolute;
  top: 0.2em;
  left: 0;
  right: 0;
}

#right-ui-bar-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-left: none;
  padding: 0.3em 0.45em 0.25em;
  user-select: none;
}

#right-ui-bar-toggle:before {
  content: "\f054";
}

#right-ui-bar-body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
#right-ui-bar-body,
#right-ui-bar-body > *,
#right-ui-bar-body > * > *,
#right-ui-bar-body > * > * > * {
  overflow: hidden;
  height: 100%;
}

.right-ui-bar-base {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5em;
  overflow: hidden;
  height: 100%;
}

.right-ui-bar-header {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2em;
  margin-right: 0.2em;
}

.right-ui-bar-content {
  overflow: auto;
  padding: 0 1em;
  height: 100%;
}

@media screen and (min-width: 769px) {
  #story {
    margin-right: 19em;
  }
}

/* Stowing of the Right UI Bar. */
#right-ui-bar.stowed {
  right: -15.5em;
  background-color: transparent;
  border: none;
}

#right-ui-bar.stowed #right-ui-bar-toggle {
  padding: 0.3em 0.55em 0.25em 0.35em;
}

#right-ui-bar.stowed #right-ui-bar-toggle:before {
  content: "\f053";
}

#right-ui-bar.stowed #right-ui-bar-body {
  visibility: hidden;
  -webkit-transition: visibility 0.2s step-end;
  -o-transition: visibility 0.2s step-end;
  transition: visibility 0.2s step-end;
}

#right-ui-bar.stowed ~ #story {
  margin-right: 2em;
}

#ui-bar.stowed ~ #story {
  margin-left: 2em !important;
}

#ui-bar.stowed {
  background-color: transparent;
  border-right: none;
}
