.unitface {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
  background-color: black;

  height: 25px;
  width: 25px;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & > div {
    backdrop-filter: blur(8px);
  }

  & > img {
    object-fit: contain;
    object-position: center;
    &.bg {
      object-fit: fill;
      /*filter: blur(8px);*/
    }
  }
}

.unitimage {
  align-self: center;

  & img {
    width: 150px;
    height: 150px;
    object-fit: contain;

    &.bg {
      object-fit: fill;
      /*filter: blur(8px);*/
    }
  }
}

.unitimagelarge > img {
  margin: 10px;
  max-width: 100%;
  float: right;
}

.unitcard .unitimage {
  height: 100%;
  width: 100%;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & > div {
    backdrop-filter: blur(8px);
  }
}

.hide-unit-card-image .unitimage {
  display: none;
}

.unitcard-content {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.unit-skill {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  line-height: 1.4;

  & > :first-child {
    flex: 0 0 auto;
  }
  & > :last-child {
    /*background-color: rgba(32,32,32,0.9);*/
    /*background-color: rgba(12, 12, 12, 0.6);*/
    /*background-color: rgba(20, 20, 20, 0.5);*/
    /*background-color: var(--skill-color-bg);*/
    background-color: rgba(60, 60, 60, 0.4);
    border-radius: 10px;
    padding: 0 6px;
    flex: 1 0 auto;
    border: 2px solid var(--skill-color-aux, gray);
    border-color: transparent;
    /*border-color: var(--skill-color-border);*/
    /*border-color: var(--skill-color-alt);*/
  }
}
.unit-skills {
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2px 0.6em;
  margin: 4px 0;
  font-size: 95%;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16%;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.unit-skillfocus {
  display: inline-flex;
  gap: 1px;
}

.unit-skill-breakdown {
  margin-bottom: 0.5em;
  & header {
    margin-top: 0.5em;
    padding-left: 0.5em;
  }
  & ul {
    margin: 0;
    padding-left: 2em;
  }
}

.unit-skills-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  gap: 0.8em;
}

.unit-traits {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 4px;
}

.unit-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 1em;
  & > * {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 2px solid rgba(80, 80, 80, 0.5);
    background-color: rgba(32, 32, 32, 0.6);
    /*border: 2px solid #202020;
    background-color: rgba(24, 24, 24, 0.6);*/
    padding: 0 8px;
    border-radius: 4px;
  }
}

.unitcard:not(.slavercard) .unit-misc {
  margin-top: 6px;
}

.hospital-units {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.icon-skill {
  /*background-color: var(--skill-color-alt);*/
  /*mask-image: var(--skill-img);*/
  /*width: 25px;*/
  /*height: 25px;*/
  /*display: inline-block;*/
}

/* Skill colors */

.skill-combat {
  --skill-color: #ff0000;
  /*--skill-color-alt: oklch(75% 0.25 30);*/
  /*--skill-color-bg: oklch(80% 0.2 30 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 30);*/
  /*--skill-color-aux: #f62525;*/
}
.skill-brawn {
  --skill-color: #ff6600;
  /*--skill-color-alt: oklch(75% 0.25 70);*/
  /*--skill-color-bg: oklch(80% 0.2 70 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 70);*/
  /*--skill-color-aux: #ff6600;*/
}
.skill-survival {
  --skill-color: #03ff00;
  /*--skill-color-alt: oklch(75% 0.25 142.484);*/
  /*--skill-color-bg: oklch(80% 0.2 142.484 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 142.484);*/
  /*--skill-color-aux: #1bc518;*/
}
.skill-intrigue {
  --skill-color: #8a6f91;
  /*--skill-color-alt: oklch(75% 0.06013 319.202);*/
  /*--skill-color-bg: oklch(80% 0.2 319.202 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 319.202);*/
  /*--skill-color-aux: #8a6f91;*/
}
.skill-slaving {
  --skill-color: #b3b3b3;
  /*--skill-color-alt: oklch(75% 0.00009 271.152);*/
  /*--skill-color-bg: oklch(80% 0 271.152 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 271.152);*/
  /*--skill-color-aux: #b3b3b3;*/
}
.skill-knowledge {
  --skill-color: #03ffff;
  /*--skill-color-alt: oklch(75% 0.25 194.81);*/
  /*--skill-color-bg: oklch(80% 0.2 194.81 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 194.81);*/
  /*--skill-color-aux: #17d6d6;*/
}
.skill-social {
  --skill-color: #5f8dd3;
  /*--skill-color-alt: oklch(75% 0.15 258.56);*/
  /*--skill-color-bg: oklch(80% 0.2 258.56 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 258.56);*/
  /*--skill-color-aux: #5f8dd3;*/
}
.skill-aid {
  --skill-color: #e9afaf;
  /*--skill-color-alt: oklch(75% 0.15 0);*/
  /*--skill-color-bg: oklch(80% 0.2 0 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 0);*/
  /*--skill-color-aux: #e9afaf;*/
}
.skill-arcane {
  --skill-color: #ff00ff;
  /*--skill-color-alt: oklch(75% 0.25 330);*/
  /*--skill-color-bg: oklch(80% 0.2 330 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 330);*/
  /*--skill-color-aux: #bd46bd;*/
}
.skill-sex {
  --skill-color: #ffff00;
  /*--skill-color-alt: oklch(75% 0.25 110);*/
  /*--skill-color-bg: oklch(80% 0.2 110 / 0.2);*/
  /*--skill-color-border: oklch(60% 0.1 110);*/
  /*--skill-color-aux: #bdbd18;*/
}
